
 /* Aqui começa seu CSS */
body {
  background-color:gray;
  font-family:georgia, serif;
   font-size:20 px}
h1 {
  color: #333;
  text-align: center;
}
input{
align-items: center;
 justify-content: center;
 border-radius: 25 px;
}


