
.titulo{
    color: rgb (65, 60, 47);
    font-size: 50 px;
}
body{
    color: black;
    background-color: rgba (135, 192, 196, 0.705);
    text-align: center;
}
.input{
    background-color: white;
    color: white;
    border: none;
    border-radius: 20 px; 
}
h1{
    font-family: 'Cascadia-code';
}

